<template>
  <div class="about">
    <b-container>
      <h1>Cards</h1>
      <b-row>
        <b-col>
          <b-card-group columns>
            <card-item v-for="post in posts" :key="post.id" :post="post"></card-item>
          </b-card-group>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<style lang="scss" scoped>
.card {
  text-align: left;
}
</style>

<script>
import CardItem from '@/components/CardItem'

export default {
  components: {
    CardItem
  },
  data () {
    return {
      posts: [],
      colorPallete: [
        "#dfc78e",
        "#b0ecde",
        "#79e5b2",
        "#eae8c6",
        "#83b1bf"
      ]
    }
  },
  created () {
    fetch('https://jsonplaceholder.typicode.com/posts')
      .then(response => response.json())
      .then(json => {
        json.map( item => {
          item.color = this.getRandomItem(this.colorPallete)
        })
        this.posts = json
      })
  },
  methods: {
    getRandomItem: items => items[Math.floor(Math.random()*items.length)]
  }
}

</script>