<template>
    <b-card :style="{ 'background-color': post.color }"
        tag="article">
        <div slot="header" class="mb-0">
          <span @click="enableEditTitle" v-if="!isEditingTitle">{{ post.title }}</span>
          <b-form-input
            @keyup.enter.native="$event.target.blur()"
            @blur.native="disableEditTitle"
            ref="titleInput"
            v-if="isEditingTitle"
            v-model="post.title"
            type="text">
          </b-form-input>
        </div>
        <span @click="enableEditBody" v-if="!isEditingBody">
          <p v-for="(bodyParagraph, index) in postBodySplitted" :key="index" class="card-text">
            {{ bodyParagraph }}
          </p>
        </span>
        <b-form-textarea
            @blur.native="disableEditBody"
            ref="bodyInput"
            v-if="isEditingBody"
            v-model="post.body"
          :rows="6"
          :max-rows="6">
        </b-form-textarea>
        <!-- <b-button href="#" variant="primary">Go somewhere</b-button> -->
    </b-card>
</template>
<style>
.card-header {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}
</style>

<script>
import axios from 'axios'

export default {
  props: ['post'],
  data () {
    return {
      isEditingTitle: false,
      isEditingBody: false,
    }
  },
  computed: {
    postBodySplitted () {
      return this.post.body.split('\n')
    }
  },
  created () {
    fetch('https://jsonplaceholder.typicode.com/posts/1')
    .then(response => response.json())
    .then(json => {
      this.posts = json
    })
  },
  methods: {
    enableEditTitle () {
      this.isEditingTitle = true
      this.$nextTick().then( () => {
        this.$refs.titleInput.focus()
        this.$refs.titleInput.$el.select()
      })
    },
    disableEditTitle () {
      axios.patch( 'https://jsonplaceholder.typicode.com/posts/1', {
        title: this.post.title
      })
      .then( response => {
        console.log('patch response :', response.data);
      })
      .catch(function (error) {
        console.log(error);
      })
      this.isEditingTitle = false
    },
    enableEditBody () {
      this.isEditingBody = true
      this.$nextTick().then( () => {
        this.$refs.bodyInput.focus()
        this.$refs.bodyInput.$el.select()
      })
    },
    disableEditBody () {
      this.isEditingBody = false
      axios.patch( 'https://jsonplaceholder.typicode.com/posts/1', {
        body: this.post.body
      })
      .then( response => {
        console.log('body response :', response.data);
      })
      .catch(function (error) {
        console.log(error);
      })
    },
  }
}
</script>